{{!-- Display the blog post information --}}
<h2>{{ blogPost.title }}</h2>
<p>{{ blogPost.content }}</p>
<p>Author: {{ blogPost.User.username }}</p>

{{!-- Display the comments --}}
<h3>Comments</h3>
{{#each blogPost.Comments}}
  <p>{{ this.content }}</p>
  <p>Comment by: {{ this.User.username }}</p>
{{/each}}