{{! Set the main content of the dashboard }}
<div>
  <h1>Dashboard</h1>
  <a href="/create-post" class="create-post-button">Create New Post</a>

  <section class="blog-posts">
    <h2>Your Blog Posts</h2>
    {{! Iterate over user's blog posts }}
    {{#each userBlogposts as |blogPost|}}
      {{! Display the blog post information }}
      <div class="blog-post-itself">
        <h2 id="blog-post-title">{{blogPost.title}}</h2>
        <p id="blog-postcontent">{{blogPost.content}}</p>
        <p>Author: {{blogPost.posted_by}}</p>
        <p>Created on: {{blogPost.created_at}}</p>

        <a
          href="/update-post/{{blogPost.id}}"
          class="update-post-button"
        >Update</a>
        <a href="/delete-post/{{blogPost.id}}" class="delete-post-button">Delete</a>
      </div>
    {{/each}}
  </section>
</div>
<script src="/js/update-blogpost.js"></script>