<div class="blog-post-container">
  {{#each blogPosts as |blogPost|}}
    {{! Display the blog post information }}
    <div class="blog-post-itself">
      <h2 class="blog-post-title">{{blogPost.title}}</h2>
      <p>{{blogPost.content}}</p>
      <p>Author: {{this.user.username}}</p>
      <p>Created on: {{blogPost.created_at}}</p>

      {{! Display the comments }}

      <div class="comments">
        <h4>Comments</h4>
        {{! Iterate over comments }}
        {{#each comments as |comment|}}
          <div class="comment">
            <p>{{comment.commented_text}}</p>
            <p>Comment by {{this.user.username}} on {{this.created_at}}</p>
          </div>
        {{/each}}
        <div id="new-comment-form">
          <textarea id="comment-text" placeholder="Write your comment here"></textarea>
          <button type="button" class="create-comment-button" onclick="submitComment(event, '{{blogPost.id}}')">Submit Comment</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script src="/js/create-comment.js"></script>